[phases.setup]
nixPkgs = ['pnpm', 'nodejs']

[phases.install]
cmds = [
  'npm install -g corepack',
  'corepack enable',
  'corepack prepare pnpm@10.10.0 --activate',
  'NODE_OPTIONS="--max-old-space-size=6144" pnpm install --frozen-lockfile'
]

[phases.build]
cmds = [
  'NODE_OPTIONS="--max-old-space-size=6144" NEXT_TELEMETRY_DISABLED=1 SKIP_TYPE_CHECK=true pnpm run build'
]

[start]
cmd = 'NODE_OPTIONS="--max-old-space-size=2048" pnpm start'

[variables]
NODE_ENV = 'production'
NEXT_TELEMETRY_DISABLED = '1'